body {
    margin: 0;
    padding: 0;
}

#hero {
    max-width: 90vw;
    max-height: 60vh;
    margin: 0 auto;
    display: block;
    margin-bottom: 2em;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin: 0 auto; */
}

#main {
    display: flex;
    flex-direction: column;
    gap: 164px;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
}

.container img {
    width: 150px;
    height: 150px;
    padding: 1px;
}

.images img:last-of-type {
    position: relative;
    top: 75px;
    right: 75px;
    opacity: 75%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 38.5px;
    gap: 20px;
}

.text p {
    width: 262px;
    height: 80px;
}

.text button {
    border: none;
    cursor: pointer;
    border-radius: 40px;
    font: inherit;
    width: 183px;
    height: 40px;
    transition: transform 0.2s ease;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        transform: scale(0.9);
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* max-width: 80vw; */
    a {
        text-decoration: none;
        color: inherit;
        outline: none;
        transition: 0.2s ease;
        font-size: 2em;
        padding: 0;
        margin: 0;

        &::before {
          position: relative;
          top: 1.1em;
          display: block;
          content: "";
          border-top: solid 3px black;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }
        &:hover::before {
          transform: scaleX(1);
        }

        &:hover {
            color: blue;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

@media (max-width: 780px){
    .container{
        flex-direction: column;
        gap: 3em;
    }

    .text{
        right: 1.5em;
    }
}